.new-arrival-container{
  max-width: 95%;
  color: #FAFAFA;
  font-family: 'Poppins', sans-serif;

  /* FIXME: */
}

/* section skeleton (grid) design */
.skeleton-container,.inner-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 32px;
}

.skeleton-container{
  height: 600px;
}


.inner-card-container{
  grid-template-rows: 100%
}

img {max-width: 100%;}

/* cards' design */
.skeleton-container > .card .info-container{
  width: 46%;
}

/* first card */
.skeleton-container > .card:first-child{
  grid-row: 1 / 3;
}

.skeleton-container > .card:first-child img{
  bottom: 0;
  left: 1.8125em;
  max-width: 100%;
}

.skeleton-container > .card:first-child .info-container{
  bottom: 4.5em;
  left: 1.8125em;
}

.skeleton-container > .card:first-child a{
  bottom: 2em;
  left: 2em;
}

/* second card */
.skeleton-container > .card:nth-child(2) img{
  right: 0;
}

.skeleton-container > .card:nth-child(2) .info-container{
  bottom: 4em;
  left: 1.5em;
}

/* 3rd & 4th cards */
.inner-card-container img{
  left: 2.5em;
  bottom: 2em;
}

.inner-card-container .info-container{
  left: 1.5em;
  bottom: 3.5em;
}

