.speaker {
    width: 1170px;
    height: 500px;
    /*margin-top: 2526px;
    margin-left: 135px;*/
    margin-bottom: 135px;
    position: absolute;
}

.categoryText {
    position: absolute;
    width: 90px;
    left: 56px;
    top: 69px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00FF66;
}

.speakerText {
    position: absolute;
    width: 443px;
    height: 120px;
    left: 56px;
    top: 121px;
    margin-top: 32px;
    /* margin-left: 56px;*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.04em;
    color: #FAFAFA;
}

.speakerItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.speakerIcon {
    position: absolute;
    margin-top: 273px;
    margin-left: 56px;
}

.speakerButton {
    margin-top: 375px;
    margin-left: 56px;
    margin-bottom: 69px;
}