.card{
  background-color: black;
  display: inline-block;
  border-radius: 4px;
  position: relative;
}

.info-container{
  position: absolute;
  bottom: 0;
}

.card h3{
  font-size: 1.5rem;
  margin:0;
  margin-bottom: 0.6667em;
  font-weight: 600;
  line-height: 1em;
  font-family: 'Poppins', sans-serif;
}

.card p{
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.5em;
}

.card img{
  position: absolute;
}

.card a{ 
  color: #FAFAFA;
  line-height: 1.5em;
  line-height: 100%;
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  border-bottom: solid #FAFAFA 1px;
  padding: 0.3em 0;
}