.item-viewer-container{
  width: 48.61%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.viewer-side-bar-container{
  width: 24.287%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.viewer-main-container{
  width: 71.432%;
  box-sizing: border-box;
}

.viewer-main-container .viewer-chunck{
  height: 100%;
}
