/* div,p {
    padding:0px !important;
    margin:0px !important;
} */
.wrapper {
    position: absolute;
    bottom: 64px;
    width: 100%;
    height: 376px;
    background-color: black;
}


.content {
    position: absolute;
    width: inherit;
    display: flex;
    justify-content: center;
    padding: 0px 135px 0px 135px;
    gap:80px;
    flex-wrap: wrap;

  }
  
  .content .card {
    position: relative;
    width: 320px;
    top: 80px;
    display: flex;
    flex-direction: column;
    gap:24px
  }

  .content .card .subTitle {
    font-family:Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color:#FAFAFA;
  }

  .content .card .email {
    display: flex;
    width: 230px;
    height: 30px;
    border:1px solid white;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: #FAFAFA;
  }
  
  
  .content .card .email span {
    font-family:Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#FAFAFA;
    opacity: 0.4;
  }

  .content .card  .DownloadApp {
    font-family:Poppins;
    font-size: 12px;
    font-weight: 200;
    line-height: 18px;
    color:#FAFAFA;
    opacity: 0.7;
  }

  .content .card  .imgGrid {
    display: flex;
  }
  
  .content .card  .imgGrid .QR {
    width: 76px;
    height: 76px;
  }

  .content .card  .playStoreGrid {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 13px;
    gap:12px
  }
  .content .card  .socialMedia {
    display: flex;
    gap:32.5px;
    position: relative;
  }

  /* .content .card1  .socialMedia  .socialMediaImg {
    width: 10.5px;
    height: 18px;
  }

   */
   @media only screen and (max-width: 1920px) {
    .content {
       padding: 30px;
   } 
   .card {
       width: 200px !important;
   }
 }

 /* @media (min-width: 900px) and (max-width: 2000px) {
    .content {
        padding: 30px;
    } 
    .card {
        width: 200px !important;
    }

} */

 @media only screen and (max-width: 1366px) {
    .content {
       padding: 30px;
   } 
   .card {
       width: 200px !important;
   }
 }

   @media only screen and (max-width: 1440px) {
     .content {
        padding: 30px;
    } 
    .card {
        width: 200px !important;
    }
  }

  @media only screen and (max-width: 1024px) {
    .wrapper {
        height: 700px;
    }

    .content {
        flex-direction: row;
        justify-content: center;
        padding: 30px;
        flex-wrap: wrap;
    }

    .card {
        width: 200px !important;
    }
  }

   @media only screen and (max-width: 895px) {
    .wrapper {

        height: 1000px;
    }
  
    .content {
        flex-direction: row;
        justify-content: center;
        padding: 30px;
        flex-wrap: wrap;

    }
    .card {
        width: 200px !important;
    }
  }