@font-face {
  font-family: 'Poppins';
  src: url(../src/fonts/Poppins-Regular.ttf);
}

body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px
}

code {
  font-family: Poppins;
}
